<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthRecord</title>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <header>
        <div class="app_title">
                <h1>体調記録アプリ</h1>
            <p>ー 記録の継続を目指して ー</p>
        </div>
    </header>
    <div id="app">
        <span>{{ select_date(new Date()) }}</span>
        <h2>基礎体温(℃)</h2>

        <div>
        <h3>新規</h3>
            <input type="text" placeholder="日付" v-model="measuredAt">
            <input type="text" placeholder="測定値" v-model="measuredValue">
            <button v-on:click="addBasalBodyTemperature">追加</button>
        </div>

        <div>
            <h3>一覧表示</h3>
            <ul>
                <li v-for="b in basalBodyTemperatures">
                    {{ b }}
                </li>
            </ul>
        </div>

        <div>
            <h3>グラフ</h3>
            <button v-on:click="drawGraph">drawGraph</button>
            <div id="chart_div"></div>
        </div>

    </div>
    <script src="basal_body_temperature_items_index.js"></script>
    

</body>

</html>